@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Odò Brand Colors */
    --odo-white: #FFFFFF;
    --odo-verde: #1f1f1f;
    --odo-vermelho: #E8112D;
    --odo-azul: #002776;
    --odo-amarelo: #FFDF00;
    --odo-preto: #000000;
  }

  html {
    font-size: 14px;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
  }
}